body
{

   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: #393d48;
}
.container
{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
#luck{
    font-size: 4em;
    color: white;
}

#cointoss
{
    width: 80%;
}
.header
{
    margin-bottom: 1em;
    align-items: center;
}
button
{
    width: 30%;
    max-width: 100px;
    margin: 0px 40%;
    padding: 1em;
    font-size: 1rem;
    background-color: #393d48;
    border-radius: 1em;
    color: white;
}
button:hover{
    padding: .9em;
}
@media screen and (max-width:600px) {
    .container
    {
        flex-direction: column;
        justify-content: space-around;
    }
    #cointoss
    {
        margin-left: 20%;
    }
    #luck
    {
        margin-left: 30%;
    }
}
